.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.container h1 {
  color: greenyellow;
  font-size: 40px;
  text-decoration: underline;
}

.container h2 {
  font-size: 30px;
}
